<h4>Movielist</h4>

<ul class="side-nav">
  
  	<table>
			<% @sidebarright.each do |movie| %>
			
				<li>
					<tr><%= movie.title %></tr>&nbsp<tr><%= link_to "<i class='fi-eye icon-blue'></i>".html_safe, movie_path(movie.id) %></tr>
				</li>
			
			<% end %>
			
		</table>

</ul>