<h1>Editing <%= @movie.title %> Movie</h1>

<%= render 'form' %>


<%= link_to "<i class='fi-eye icon-blue'></i>".html_safe, movie_path(@movie) %> |
<%= link_to "<i class='fi-arrow-left icon-green'></i>".html_safe, movies_path %> | 
