<h1>Movies</h1>
<table>
	<tr>
		<th>Titel</th>
		<th>Rating</th>
		<th>Total-Gross</th>
	</tr>
<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.rating %></td>
		<td><%= movie.total_gross %></td>
	</tr>
<% end %>
</table>